{% extends "playlists/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<body>

    <div class="container position-absolute top-50 start-50 translate-middle text-center">
            <h1>Welcome to SoundCentral, your playlist cloud and export hub.</h1>
            <p class="lead">Want to share a playlist with your friend? We have just the thing! <br>We offer playlist sharing over platforms and a safe place to store 
                your favorite playlists.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Login</a>
            </p>
            <p>You should probably login motherfucker</p>
    </div>
</body>







{% endblock %}