body{
    background-image: linear-gradient(to right, #cdffd8, #94b9ff);
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1{
    text-align: center;
}

.white-text{
    color: white;
}
